<html lang="en-GB">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="./bootstrap-5.0.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bootstrap-5.0.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="gradient"></div>
    <div id="page">
        <div id="Message-Container">
            <div id="message">
                <h1>Congratulations!</h1>
                <p>You are done.</p>
                <p id="moves"></p>
                <input id="okBtn" type="button" onclick="toggleVisablity('Message-Container')" value="Cool!" />
            </div>
        </div>
        <div id="menu">
            <div class="custom-select">
                <select id="diffSelect">
                    <option value="10">Easy</option>
                    <option value="15">Medium</option>
                    <option value="25">Hard</option>
                    <option value="38">Extreme</option>
                </select>
            </div>
            <input id="startMazeBtn" type="button" onclick="makeMaze()" value="Start" />
        </div>
        <div id="shop-menu">
            <!-- Button trigger modal -->
            <button id="modal-button" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal" style="display: none;">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Menu</h5>
                        </div>
                        <div class="modal-body" style="text-align: left;">
                            <div id="menu-app" class="container">
                                <template v-for="(item, idx) in shop_info[select_idx].menu_data">
                                    <div v-on:click="add_item(idx)" class="row">
                                        <div class="col-8">
                                            <h3>{{item.food_name}}</h3>
                                            <h5>${{item.food_price}}</h5>
                                        </div>
                                        <div class="col-4">
                                            <img v-bind:src="item.food_image_url" class="rounded"
                                                style="width: 100; height: 100px">
                                        </div>
                                    </div>
                                    <hr class="my-4">
                                </template>
                                <h5>Selected</h5>
                                <template v-for="(item, idx) in select_items">
                                    <div class="row">
                                        <div class="col-7">
                                            <span>{{item.food_name}}</span>
                                        </div>
                                        <div class="col-3">
                                            <span>${{item.food_price}}</span>
                                        </div>
                                        <div class="col-2">
                                            <img src="assets/trash.png" v-on:click="delete_item(idx)" style="width: 20px; height: 20px;">
                                        </div>
                                    </div>
                                </template>
                                <hr class="my-4">
                                <div class="row">
                                    <div class="col-7">
                                        <span>total charge</span>
                                    </div>
                                    <div class="col-3">
                                        <span>${{total_charge}}</span>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="menu-submit" type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="view">
            <div id="mazeContainer">
                <canvas id="mazeCanvas" class="border" height="600" width="600"></canvas>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./bootstrap-5.0.1-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="./bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="./game.js"></script>
    <script src="./menu.js"></script>
</body>

</html>